{% extends 'mailing/base.html' %}

{% block content %}
<main>
    <a href="{% url 'mailing:create_mailing'%}" type="button" class="btn btn-sm btn-outline-light">Создать рассылку</a>
    <br>
    {% for object in object_list %}
    <br>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'mailing:mailing_view' object.pk %}">{{object.name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto align-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:update_mailing' object.pk %}">Изменить</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:delete_mailing' object.pk %}">Удалить</a>
          </li>
        </ul>
      </div>
    </nav>
</main>
  {% endfor %}
{% endblock %}