{% extends 'mailing/base.html' %}
{% block content %}
<br>
<div class="col-12">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"><font color="black">Вход</font></h4>
    </div>
    <div class="card-body">
      <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
          <button type="submit" class="btn btn-sm btn-outline-success">Войти</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}