{% extends 'mailing/base.html' %}

{% block content %}
<main>
    {% for object in object_list %}
    <br>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="#">{{object.email}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto align-content-end">
          <li class="nav-item active">
              {% if object.is_active %}
            <a class="nav-link" href="#">Активен <span class="sr-only">(current)</span></a>
              {% else %}
              <a class="nav-link" href="#">Заблокирован <span class="sr-only">(current)</span></a>
              {% endif %}
          </li>
          <li class="nav-item">
              {% if object.is_active %}
            <a class="nav-link" href="{% url 'users:block_user' object.pk %}">Заблокировать</a>
              {% endif %}
          </li>
        </ul>
      </div>
    </nav>
</main>
  {% endfor %}
{% endblock %}